body, html {
  background-color: #d4e8ff;
  height: 100%;
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
}

.container {
  background-color: white;
  width: 390px;
  height: 100%;
}

/* header 시작 */
.header {
  display:flex;
  padding: 16px 13px 12px 19px;
  justify-content: space-between;
  border-bottom: 1px solid #dbdbdb;
}


.header h1 {
  color: #004E98;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header .icon-search{
  width: 24px;
  height: 24px;
} 
/* header 끝 */

/* main 시작 */
.community-category {
  padding: 30px 13px;
}

.community-category button {
  width: 87px;
  height: 24px;
  margin: 0 2px;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bold;
  background-color: #6C9BD1;
  color: #ffffff;
  border-radius: 30px;
  border-style: none;
}

.community-category button:hover {
  background-color: #004E98;
}

.icon-map-mark{
  width: 16px;
  height: 20px;
} 

.icon-share-info-map{
  width: 349px;
  height: 258px;
} 

.icon-user-profile{
  width: 42px;
  height: 42px;
} 