.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleWrap {
  font-size: 24px;
  margin-bottom: 20px;
}

.contentWrap {
  width: 100%;
  max-width: 400px;
}

.inputTitle {
  font-size: 16px;
  margin-bottom: 8px;
}

.inputWrap input {
  margin-bottom: 20px;
  width: 322px;
  padding: 0.5em;
  border: none; 
  border-bottom: 1px solid #ccc; 
  outline: none; 
  border-radius: 0;
  box-shadow: none; 
  transition: border-bottom 0.3s ease; 
}

.inputWrap input:focus {
  border-bottom: 1px solid #3498db;
}

.bottomButton {
  width: 100%;
  padding: 1em;
  border: none;
  color: #fff;
  background-color: #3498db;
  cursor: pointer;
  border-radius: 44px;
  font-size: 16px;
  margin-bottom: 1em;
}

.bottomButton:hover {
  background-color: white;
  color: black;
  border: 1px solid #56b4f3;
}

.signup {
  display: flex;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
  margin: 0 auto;
}

.signup:hover {
  color: #004E98;
}